{% extends 'index.html' %}
{% load static %}

{% block css %} 

{% endblock %}

{% block content %}

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    {{ error }}
  {% endfor %}
{% endif %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Please contact us to access this page.</p>
  {% else %}
    <p>Please login to continue.</p>
{% endif %}
{% endif %}


<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow" style="border-color: yellowgreen;">
        <div class="modal-header p-5 pb-4 border-bottom-0 mb-4" style="background-color: yellowgreen;">
          <h1 class="fw-bold text-primary mb-0 fs-2">Sign Up!</h1>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form class="container" method="post" action=".">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{form.first_name}}
                {{ field.errors.as_ul }}
                <label for="floatingInput">First Name</label>
              </div>
            <div class="form-floating mb-3">
                {{form.last_name}}
                {{ field.errors.as_ul }}
                <label for="floatingInput">Last Name</label>
            </div>
            <div class="form-floating mb-3">
                {{form.email}}
                {{ field.errors.as_ul }}
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              {{form.username}}
              {{ field.errors.as_ul }}
              <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
                {{form.password1}}
                {{ field.errors.as_ul }}
                <label for="id_password1">Password</label>
              </div>
              <div class="form-floating mb-3">
                {{form.password2}}
                {{ field.errors.as_ul }}
                <label for="id_password2">Conform Password</label>
              </div>
              <small class="text-body-secondary">By clicking Sign up, you agree to the <a href="">Terms of Use</a></small>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-success mt-2" type="submit">Sign up</button>
            <input type="hidden" name="next" value="{{next}}">
            <a class="" href="{% url 'login' %}">
                <span>Existing User? Log in</span>
            </a>
            <hr class="mt-4">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}



