{% extends "index.html" %}
{%load static%}

{% block css %}
<link rel="stylesheet" href="{% static 'myapp/styles/product-styles.css'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="d-flex">


  
  <div class="bg-body-secondary" style="width: 80vw;">
    <form method="get" action=".">
    <div class="text-bg-dark p-3 px-4 rounded-1">
      <div class="nav nav-pills flex-column mb-auto">

        <div class="fs-4 mb-2">
          Filter:
        </div>

        <div>
          <div class="text18 fw-normal my-3">
            Price:
          </div>
          <input type="range" class="form-range my-3" min="0" max="5" step="0.5" id="customRange3">    
        </div>
  
        <hr>
      
        <div>
          <div class="text18 fw-normal mb-3">
            Color:
          </div>
          <div id="albumgrid" class="mx-2 px-2">
          {% for color in color_set %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="color" id="flexRadioDefault1" value="{{color}}">
              <label class="form-check-label" for="flexRadioDefault1">
              {{color|capfirst}}
              </label>
            </div>
          {% endfor %}
          </div>
        </div>
  
        <hr>
      
  
        <div>
          <div class="text18 fw-normal my-3">
            Brand:
          </div>
          <div id="albumgrid" class="mx-2 px-2"> 
          {% for brand in brand_set %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="brand" id="flexRadioDefault2" value="{{brand}}">
              <label class="form-check-label" for="flexRadioDefault2">
                {{brand|capfirst}}
              </label>
            </div>
          {% endfor %}
          </div>
        </div>
  
        <hr>
  
        <div class="d-flex justify-content-around">
          <input type="submit" class="btn" value="Apply">
          <input type="submit" class="btn" value="Clear">
        </div>
  
      </div>
    </div>
    </form>
  </div>



<div class="bg-body-secondary p-2 px-1" style="min-height: 125vh">
  <div class="card height">
    <div class="mx-3 mt-4 mb-4" id="grid">
      <div class="container" id="grid">
              {% for item in sub_cat %}
                {% if item.status == 'active' %}
                <div class="container p-2">
                  <div class="card rounded-4 productdetails">
                    <div class="pb-2 border-bottom-0"></div>
                    <div class="modal-body p-2 pt-0">
                      <div class="grid-item">
                        <a href="{% url 'myapp:product_detail' item.slug %}">
                          <div><img id="item-img" class="rounded-4" src="{% get_media_prefix %}{{item.image}}" alt="{{ items.name }}"></div>
                          <div class="itemname">{{item.name}}</div>
                            <strong class="text18 text-black">₹{{item.discounted_price}}</strong>
                            {% if item.discount %}
                            <span class="text-decoration-line-through text14 text-danger">₹{{item.price}}</span>
                            <span id="discountPrice">{{item.discount}}% OFF</span>
                            {% endif %}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
          {%endif%}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}




